/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#file-storage-title-container {
    background: url('/website/assets/img/background/about/file_storage.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#file-storage-body-container {
    h2 {
        margin-bottom: 30px;
    }

    h3 {
        padding-bottom: 15px;
    }

    p {
        font-size: 18px;
    }

    .animation {
        height: 130px;
        margin-bottom: 30px;
    }
}

#file-storage-host-container {
    background-image: url('/website/assets/img/background/about/file_storage_footer.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: $ecc-white;

    h2 {
        color: $ecc-white;
        margin-bottom: 45px;
    }

    .animation {
        height: 130px;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    #file-storage-body-container {
        .detail {
            margin-bottom: 60px;
        }
    }
}