<div id="wallet-help-section" class="container text-center">
    <h2 class="section-title">Need Help? Have Feedback?</h2>
    <p class="help-description">
        Don't hesitate to reach out to us! We love hearing feedback or providing support!
    </p>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('wiki').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
                <span class="fa fa-link"></span> Wiki
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('reddit').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
                <span class="fa fa-reddit"></span> Reddit
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('discord').anchorAttrs %> class="btn btn-primary btn-lg btn-icon">
                <span class="fa fa-discord"></span> Discord
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a <%- sitemap.resolve('contact').anchorAttrs %> class="btn btn-primary btn-lg btn-icon" href="/contact" target="_blank">
                <span class="fa fa-envelope"></span> Contact Us
            </a>
        </div>
    </div>
</div>
