/*!
 * ecc.network
 *
 * @copyright Project ECC
 */

@import '_variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import '_header';
@import '_footer';

@import 'index';

@import 'about/overview';
@import 'about/multi_chain';
@import 'about/name_resolution';
@import 'about/messaging';
@import 'about/file_storage';
@import 'about/team';
@import 'about/exchanges';
@import 'about/block_explorers';

@import 'downloads/_download';
@import 'downloads/_help';
@import 'downloads/lynx';
@import 'downloads/mobile';
@import 'downloads/sapphire';

@import 'help/faq';

@import 'connect/contact';

@import 'donate';

html {
    position: relative;
    min-height: 100%;
}

body {
    color: $ecc-blue-grey;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

footer {
    margin-top: auto;
    width: 100%;
}

h1,
h2 {
    color: $ecc-white;
    font-size: 48px;
    margin-bottom: 15px;
}

.page-light {
    h1,
    h2.subtitle {
        color: $ecc-blue-grey;
    }
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
    margin-top: 15px;
    text-transform: capitalize;

    &.section-title {
        border-bottom: 4px solid $ecc-orange;
        color: $ecc-blue-grey;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }

    &.section-title-grey {
        color: $ecc-blue-grey;
    }

    &.section-title-orange {
        color: $ecc-orange;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &.subtitle {
        font-size: 24px;
        font-style: italic;
        margin-top: 0;

        &.grey {
            color: $ecc-blue-grey;
        }
    }

    a {
        border-bottom: 4px solid $ecc-orange;
        color: $ecc-blue-grey;
        font-weight: 700;

        &:hover {
            color: $ecc-blue-grey;
            text-decoration: none;
        }
    }
}

h3 {
    font-size: 28px;
    font-weight: 700;

    &.large {
        font-size: 30px;
        font-weight: 400;
    }

    &.blue {
        color: $ecc-blue-light;
    }

    &.orange {
        color: $ecc-orange;
    }
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

section {
    padding-bottom: 60px;
    padding-top: 60px;

    &:first-of-type {
        min-height: 500px;
        padding-top: 180px;
    }
}

strong {
    font-weight: 700;
}

legend {
    border-bottom: 2px solid $ecc-orange;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}

.fade-in {
    margin-left: -100px;
    opacity: 0;
}

.caps {
    text-transform: uppercase;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

.badge-primary,
.btn-primary {
    color: $ecc-white;
}

.btn-outline-secondary {
    background-color: $ecc-white;
    border-color: darken($ecc-grey-light, 15%);
    color: $ecc-blue-grey;

    &:hover {
        background-color: $ecc-white;
        border-color: $ecc-blue-grey;
    }
}

.btn-icon {
    @extend .caps;

    padding-right: 23px;

    > img {
        height: 22px;
        margin-right: 10px;
        margin-top: -4px;
    }

    > .fa {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    section {
        &:first-of-type {
            min-height: 400px;
            padding-top: 150px;
        }
    }
}
