{% include _header.html %}

<section id="what-is-ecc-container">
	<div class="container">
		<h2 class="section-title-orange caps">What is ECC?</h2>
		<div id="ecc-description-container">
			<div id="ecc-description" class="col-12 col-lg-8">
				<p>ECC is an open-source project focused on providing more freedom on internet through the use of blockchain technology</p>
			</div>
		</div>
	</div>
</section>

<section id="coin-attributes">
	<div class="container text-center">
		<h2 class="section-title">Attributes</h2>
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div id="instant-payments-animation" class="animation"></div>
				<h3 class="caps">Instant payments</h3>
				<p>No more waiting for banks to process a transfer. Send coins in just seconds anytime, anywhere.</p>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div id="data-privacy-animation" class="animation"></div>
				<h3 class="caps">Data privacy</h3>
				<p>You control your data. All of the keys to your data are on your computer and not in a centralized database controlled by someone else.</p>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div id="decentralized-network-animation" class="animation"></div>
				<h3 class="caps">Decentralized services</h3>
				<p>The network is composed of globally distributed nodes with no central authority controlling the network, ensuring there is no single point of failure. Based on this we are implementing services like messaging, file storage and name resolutions.</p>
			</div>
		</div>
	</div>
</section>

<section id="market-details">
	<div class="container text-center">
		<h2 class="section-title">Market details</h2>
		<div class="row">
			<div class="market-detail-container col-lg-3 col-sm-6">
			    <fieldset>
			        <legend>Price <span id="refresh-market-details-btn" class="fa fa-refresh"></span></legend>
			        <div class="market-detail price">
			            <p>
			                <span class="currency-value"></span>
			            </p>
			            <p class="currency">BTC</p>
			        </div>
			    </fieldset>
			</div>
			<div class="market-detail-container col-lg-3 col-sm-6">
			    <fieldset>
			        <legend>Market cap</legend>
			        <div class="market-detail market-cap">
			            <p>
			                <span class="currency-value"></span>
			            </p>
			            <p class="currency">BTC</p>
			        </div>
			    </fieldset>
			</div>
			<div class="market-detail-container col-lg-3 col-sm-6">
			    <fieldset>
			        <legend>Volume</legend>
			        <div class="market-detail volume">
			            <p>
			                <span class="currency-value"></span>
			            </p>
			            <p class="currency">BTC</p>
			        </div>
			    </fieldset>
			</div>
			<div class="market-detail-container col-lg-3 col-sm-6">
			    <fieldset>
			        <legend>Supply</legend>
			        <div class="market-detail supply">
			            <p>
			                <span class="currency-value">25 Billion</span>
			            </p>
			            <p class="currency">ECC</p>
			        </div>
			    </fieldset>
			</div>
		</div>
	</div>
</section>

<section id="earn-coins">
	<div class="container text-center">
		<div class="row">
			<div class="offset-sm-1 col-sm-10">
				<img id="ecc-badge" src="{{ "/assets/img/ecc_badge.svg" | prepend: site.baseurl }}">
				<h2 class="section-title">Earn Coins With No Hardware Requirements</h2>
				<div class="ecc-fact">Creation date: <strong>2014</strong></div>
				<div class="ecc-fact">Algorithm used: <strong>PROOF OF STAKE</strong></div>
				<div class="ecc-fact">Block time: <strong>2.5 Minutes</strong></div>
				<p></p>
				<p>There will never be more than <strong>25 Billion ECC Coins</strong> made. By buying coins and putting them in your wallet, you are able to enable <em>staking</em>, which makes your wallet node part of the block verifiers. You will then get rewarded for this work with ECC.</p>
				<p>Since we’ve already reached 25 billion coins (the total supply), what happens is whenever a transfer occurs in the network, it’s transaction fees are destroyed (substracted from the total supply) which allows a staking node to re-create this exact amount of virgin ECC and earn them as staking reward.</p>
				<p>This procedure (destroying and creating) is a privacy feature, as it make coins untracable over time.</p>
			</div>
		</div>
	</div>
</section>

<section id="timeline-container">
	<div class="container">
		<h2 class="section-title-orange">Roadmap</h2>
        <div class="row">
			<table class="table table-sm">
				<tr>
					<td>
						Decentralized routing algorithm with AODV (similar to TOR)
					</td>
				</tr>
				<tr>
					<td>
						General data packets on top of routes
					</td>
				</tr>
				<tr>
					<td>
						UTXO and Data commitments on chain
					</td>
				</tr>
				<tr>
					<td>
						More efficient network messages
					</td>
				</tr>
				<tr>
					<td>
						Scalability and privacy enhancements
					</td>
				</tr>
			</table>
        </div>
	</div>
</section>

<section id="download-container">
	<div class="container">
    	<div class="row">
		<div class="offset-xl-2 col-xl-5 offset-lg-1 col-lg-6 wallet-img">
			<img src="{{ "/assets/img/wallet_angled.png" | prepend: site.baseurl }}">
		</div>
		<div class="col-xl-3 col-lg-4 wallet-text">
			<h2 class="section-title-grey caps">Download the wallet</h2>
			<a href="{{ "/wallets" | prepend: site.baseurl }}" class="btn btn-primary btn-lg btn-icon">
				<span class="fa fa-cloud-download"></span> Download
			</a>
		</div>
    	</div>
    </div>
</section>

{% include _footer.html %}
<script src="{{ "/assets/js/index.js" | prepend: site.baseurl }}"></script>
